@using static TheHandymanOfCapeCod.Core.Constants.MessageConstants;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Handyman Of Cape Cod</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/The_Handyman_Of_Cape_Cod.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg bg-success" data-bs-theme="success">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/THoCC_Logo17_RGB_WebRes.png" alt="lighthouse" width="200" height="80" class="bg-body-tertiary rounded-pill p-sm-2 m-2" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarColor02">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-bg-success" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-bg-success" asp-area="" asp-controller="Gallery" asp-action="RecentProjects">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-bg-success" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-bg-success" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3" id="main">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["message"]
                    <button type="button" class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <!--Footer-->
    <footer class="bg-light text-lg-start mt-auto">
        <hr class="m-0" />
        <div class="row row-cols-2 m-0 p-0" id="social">
            <div class="col text-center py-4 align-items-center">
                <p><b>Follow us on social media:</b></p>
                <a href="https://www.facebook.com/Handymanofcapecod/" class="btn btn-primary m-1" role="button" rel="nofollow" data-mdb-ripple-init
                   target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/thehandymanofcapecod/" class="btn btn-primary m-1" role="button" rel="nofollow" data-mdb-ripple-init
                   target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="col py-4 text-center align-items-end">
                <p><b>Contacts:</b></p>
                <p><i class="fa fa-mobile me-1" aria-hidden="true"></i>+1 774-208-3395</p>
                <p> <i class="fa fa-envelope-o me-1" aria-hidden="true"></i>handymanofcapecod@gmail.com</p>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © @DateTime.Today.Year - The Handyman Of Cape Cod
        </div>
        <!-- Copyright -->
    </footer>
    <!--Footer-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData[EmailSendingSuccess] != null)
    {
        <script defer>
            message.showSuccess('@TempData[EmailSendingSuccess]');
        </script>

    }
    @if (TempData[EmailSendingFail] != null)
    {
        <script defer>
            message.showError('@TempData[EmailSendingFail]');
        </script>

    }
</body>
</html>
