@model PaginatedList<ProjectViewModel>
@{
    ViewBag.Title = "Our Recent Projects";
}
>
<h2 class="text-center mt-2">
    <a class="link-secondary"
       asp-area=""
       asp-controller="Gallery"
       asp-action="RecentProjects">
        @ViewBag.Title
    </a>
</h2>
<hr />

<div class="row">
    @foreach (var project in Model)
    {
        <hr />
        <partial name="_ProjectPartial" model="@project" />
        <hr />
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="d-flex flex-row flex-wrap justify-content-center">
    <a asp-area="" asp-controller="Gallery" asp-action="RecentProjects"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-secondary m-1 @prevDisabled">
        <<
    </a>
    <a asp-area="" asp-controller="Gallery" asp-action="RecentProjects"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-secondary m-1 @nextDisabled">
        >>
    </a>
</div>